In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
credit = pd.read_excel('a_Dataset_CreditScoring (1).xlsx')

In [3]:
credit.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1,582,3,3,0,4,0.0,5,117,27,...,3.0,0.9179,0.2083,2,3,7,0.2083,4,4,0.0000
1,1,662,15,9,0,3,1.0,3,14,14,...,1.0,0.8000,0.0000,0,0,0,1.0000,12,0,1.0000
2,1,805,0,0,0,1,5.0,1,354,7,...,5.0,0.3552,0.6538,0,1,1,0.7308,1,1,0.5263
3,1,1175,8,5,0,6,1.0,10,16,4,...,3.0,0.9127,0.2500,1,1,1,0.7500,7,1,1.3333
4,1,1373,3,1,0,9,0.0,8,130,52,...,1.0,1.2511,0.0000,0,1,4,0.1429,3,1,0.0000

In [4]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TARGET           3000 non-null   int64
 1   ID               3000 non-null   int64
 2   DerogCnt         3000 non-null   int64
 3   CollectCnt       3000 non-null   int64
 4   BanruptcyInd     3000 non-null   int64
 5   InqCnt06         3000 non-null   int64
 6   InqTimeLast      2812 non-null   float64
 7   InqFinanceCnt24  3000 non-null   int64
 8   TLTimeFirst      3000 non-null   int64
 9   TLTimeLast       3000 non-null   int64
 10  TLCnt03          3000 non-null   int64
 11  TLCnt12          3000 non-null   int64
 12  TLCnt24          3000 non-null   int64
 13  TLCnt            2997 non-null   float64
 14  TLSum            2960 non-null   float64
 15  TLMaxSum         2960 non-null   float64
 16  TLSatCnt         2996 non-null   float64
 17  TLDel60Cnt       3000 non-null   int64
 18  TLBadCnt24       3000 non-null   int64
 19  TL75UtilCnt      2901 non-null   float64
 20  TL50UtilCnt      2901 non-null   float64
 21  TLBalHCPct       2959 non-null   float64
 22  TLSatPct         2996 non-null   float64
 23  TLDel3060Cnt24   3000 non-null   int64
 24  TLDel90Cnt24     3000 non-null   int64
 25  TLDel60CntAll    3000 non-null   int64
 26  TLOpenPct        2997 non-null   float64
 27  TLBadDerogCnt    3000 non-null   int64
 28  TLDel60Cnt24     3000 non-null   int64
 29  TLOpen24Pct      2997 non-null   float64
dtypes: float64(11), int64(19)
memory usage: 703.2 KB

In [5]:
credit.shape

(3000, 30)

In [6]:
# dropping customer ID
credit = credit.drop('ID', axis=1)
credit.shape

(3000, 29)

In [7]:
#missing values
credit.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [8]:
# filling missing values with mean
credit= credit.fillna(credit.mean())

In [9]:
credit.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [10]:
credit['TARGET'].value_counts()
# Good loan = (0)
# Bad loan = (1)

0    2500
1     500
Name: TARGET, dtype: int64

# Train-Test Split

In [11]:
y= credit.iloc[:, 0]
X= credit.iloc[:, 1:29]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42, 
                                                    stratify=y)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
# Exporting Normalisation Coefficients for later use in prediction
import joblib
joblib.dump(scaler, 'a_Dataset_CreditScoring.xlsx')

['a_Dataset_CreditScoring.xlsx']

# Risk Model Building

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [16]:
joblib.dump(model, 'a_Dataset_CreditScoring.xlsx')

['a_Dataset_CreditScoring.xlsx']

# Model Performance

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_pred))

[[481  19]
 [ 80  20]]

In [18]:
print(accuracy_score(y_test, y_pred))

0.835

# Output

In [19]:
predictions = model.predict_proba(X_test)
predictions

array([[0.66366018, 0.33633982],
       [0.94336566, 0.05663434],
       [0.9733707 , 0.0266293 ],
       ...,
       [0.98193498, 0.01806502],
       [0.92481866, 0.07518134],
       [0.98361244, 0.01638756]])

In [20]:
df_prediction_prob = pd.DataFrame(predictions, columns = ['prob_0', 'prob_1'])
df_prediction_target = pd.DataFrame(model.predict(X_test), columns = ['predicted_TARGET'])
df_test_dataset = pd.DataFrame(y_test,columns= ['Actual Outcome'])

dfx=pd.concat([df_test_dataset, df_prediction_prob, df_prediction_target], axis=1)

dfx.to_csv('a_Dataset_CreditScoring.xlsx', sep=',', encoding='UTF-8')

dfx.head()

  Actual Outcome    prob_0    prob_1  predicted_TARGET
0            NaN  0.663660  0.336340                 0
1            NaN  0.943366  0.056634                 0
2            NaN  0.973371  0.026629                 0
3            NaN  0.958765  0.041235                 0
4            NaN  0.939625  0.060375                 0